<p id="notice"><%= notice %></p>

<p>
  <strong><%= @board.name %></strong>
</p>

<p>
  <em>About:</em><br>
  <%= @board.about %>
</p>

<p id="boardpins">
	<em>Pins:</em>

<% @board.user.pins.each do |x| %>
	<br>
	<%= link_to image_tag(x.image, :width => "20%"), x %> 
	<br>
	<%= link_to x.name, x %>
<% end %>
</p>
<p>
  <em>By <br> <%= @board.user.full_name %></em>
</p>

<p>
<img alt = "star" src = "http://csauth.ccny.cuny.edu/facultystaff/hr/images/star_1.jpg" class = "resize">

<%= link_to 'Edit', edit_board_path(@board) %> |
<%= link_to 'Back', boards_path %>
</p>